body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #a8e5f6;
}

h1, h2 {
    color: #b82a2a;
}

.container {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.student {
    margin-left: 20px;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}
